
/*
$displayMap: (
  tablet: 768px,
  desktop: 960px + (2 * $gap),
  widescreen: 1152px + (2 * $gap),
  fullhd: 1344px + (2 * $gap)
);
*/

@import "variables.scss";

@mixin mobile{
  @media screen and (max-width: $tablet - 1px){
    @content
  }
}

@mixin tablet{
  @media screen and (min-width: $tablet), print{
    @content
  }
}

@mixin touch{
  @media screen and (max-width: $desktop - 1px){
    @content
  }
}

@mixin desktop{
  @media screen and (min-width: $desktop){
    @content
  }
}

@mixin below-desktop{
  @media screen and (max-width: $desktop - 1){
    @content
  }
}

@mixin widescreen{
  @media screen and (min-width: $widescreen){
    @content
  }
}

@mixin below-widescreen{
  @media screen and (max-width: $widescreen - 1){
    @content
  }
}

@mixin fullhd{
  @media screen and (min-width: $fullhd){
    @content
  }
}

@mixin below-fullhd{
  @media screen and (max-width: $fullhd - 1){
    @content
  }
}

@mixin float-shadow-box {
	box-shadow: var(--box-shadow);
}

@mixin float-shadow-text {
	text-shadow: 0px 4px 12px rgba(0,0,0,1);
}

@mixin selected-underline($class) {
  &:after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 4px;
    width: 100%;
    background: var(--color-selected-background);
    transform: scaleY(0);
    //transition: all 0.25s ease-out;
    transform-origin: bottom center;
  }
  &#{$class}:after{
    transform: scaleY(1);
  }
}