@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon_cogs/icomoon.eot?eixah');
  src:  url('fonts/icomoon_cogs/icomoon.eot?eixah#iefix') format('embedded-opentype'),
    url('fonts/icomoon_cogs/icomoon.ttf?eixah') format('truetype'),
    url('fonts/icomoon_cogs/icomoon.woff?eixah') format('woff'),
    url('fonts/icomoon_cogs/icomoon.svg?eixah#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-cog:before {
  content: "\e994";
}
.fa-menu:before {
  content: "\e9bd";
}
