:root{
  --color-temp: blue;
  --color-temp-alt: lime;
  ///////////////////////
  --font-global: Consolas, monospace;

  --background-nav: #1e2631 ;
  --background-main: #a2aab4;
  
  --border-content:  rgba(255,255,255,0.2) ;
  --box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);

  --background-content:  #333f4e ;
  --background-content-2n:  #252e3a ;

  //--border-content:  #{$oc-gray-7};
  //--background-content:  #222;
  //--background-content-2n:  #333;
  
  --color-text: #{$oc-gray-0};
  --color-text-faded: #{$oc-gray-4};
  --color-text-faded2: #{$oc-gray-6};

  --color-selected-text: #{$oc-gray-8};
  --color-selected-background: #{$oc-gray-2};

  --color-hover: #{$oc-gray-6};
}

:root.day-mode{
  --font-global: Consolas, monospace;

  --background-main: linear-gradient(160deg, rgb(186, 186, 204) 0%, #a2aab4 100%);

  --background-nav: #1e2631 ;

  --background-content: #333f4e ;
  --background-content-2n: #252e3a ;
}