:root {
  --color-temp: blue;
  --color-temp-alt: lime;
  ///////////////////////
  --font-global: Consolas, monospace;

  --background-main: var(--md-blue-grey-200);

  --background-nav: var(--md-blue-grey-900);

  --border-content: rgba(255, 255, 255, 0.2);
  --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

  --background-content: var(--md-blue-grey-700);
  --background-content-2n: var(--md-blue-grey-900);

  --color-text: var(--md-grey-50);
  --color-text-faded: var(--md-grey-400);
  --color-text-faded2: var(--md-grey-400);

  --color-selected-text: var(--md-grey-800);
  --color-selected-background: var(--md-blue-grey-100);

  --color-hover: var(--md-blue-grey-300);
}

:root.day-mode {
}
