@import "~open-color/open-color.scss";

$gap: 64px;
$tablet: 768px;
$desktop: 1024px; //1025
$widescreen: 1224px; //more
$fullhd: 1824px;

$--color-temp: blue;
$--color-temp-alt: lime;

$--background-nav:  $oc-gray-9 ;
//$--background-nav:  rgba(0,0,0,0.5) ;
$--background-main: linear-gradient(to top, #243949 0%, #517fa4 100%);
$--background-main: #517fa4;
$--background-content: #30384a;
$--background-content-2n: #242A37;

$--background-content:  #212f3c ;
$--background-content-2n:  #17202a ;
$--background-content:  transparent ;
$--background-content-2n:  rgba(0,0,0,0.25) ;

$--background-title: $--background-nav;



$--color-text: $oc-gray-1;
$--color-text-faded: $oc-gray-4;
$--color-text-alt: $oc-gray-6;

$--color-selected-text: $oc-gray-8;
$--color-selected-background: $oc-gray-4;

$--color-link: #EBD575;
$--color-hover: rgba(255,255,255,0.25);

:root{
  --colorNav: #212529;
  --colorBG: #13547a;
  --colorContentA: #212f3c;
  --colorContentB: #17202a;
}